<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"> 
    <style>
      .body-form{
          height: 100vh;
          width: 100%;
          background-image: url("{% static 'img/product/perro-ordenadores_0.jpg' %}");
          background-color: rgb(50,50,50);
          background-blend-mode: soft-light;
          padding: 1px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-size: cover;
          background-position: center;
        }
    
    </style>
    <div class="body-form">
  
  <div class="modal-header d-block">
      <h1>Loguearse</h1>
  </div>
</head>
<body>
    <form id="frm-login" method="POST" action="/login">{% csrf_token %}
        <div class="container" style="max-width:700px !important">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="txt-username" class="form-label">USERNAME</label>
              <input id="txt-username" name="username" class="form-control" placeholder="username" required />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="txt-password" class="form-label">PASSWORD</label>
              <input type="password" id="txt-password" name="password" class="form-control" placeholder="password" required/>        
            </div>  
          </div>

          <div class="form-group row">        
              <button type="submit" style="margin-top: 15px;" 
                            class=" col-sm-3 btn btn-primary">LOGIN</button>
          </div>         
        </div>
      </form>    
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>      
</body>
</html>